.header {
    display: flex;
    margin: .25rem;
    margin-top: 0;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    border-radius: 10px;
    width: 99%;
    background-color: #fff1e2;
    transition-property: background-color;
    transition-duration: .5s;
}

.header .title {
    align-items: center;
    display: flex;
    margin: 0.5rem;
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 1.5rem;
    justify-content: space-between;
}

.header h4 {
    margin-left: 0.5rem;
}

.header input {
    width: 20rem;
    height: 2rem;
    float: right;
    margin-left: 0;
    margin-right: 10rem;
    border-radius: 5px;
    padding-left: 2.3rem;
    padding-top: .2rem;
    color: black;
    cursor: default;
    box-shadow: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: #ddba94;
    transition-property: background-color;
    transition-duration: .5s;
}

.header form:hover input {
    background-color: #e48e3e;
    transition-property: background-color;
    transition-duration: .5s;

}

.header input:hover {
    font-size: 0.75rem;
}

.header input:focus {
    background-color: #e48e3e;
    outline: none;
    font-size: 1rem;

}

.header input::placeholder {
    color: black;
    font-weight: 200;
}

.header form {
    position: relative;
}

.search-bar:focus + .search-box {
    display: block;
    width: 100%;
    position: absolute;
}

.search-box {
    display: none;
}

@media (max-width: 480px) {
    .header {
      height: 8vw;
      width: 98%;
    }

    .header input {
      width: 33vw;
      height: 5vw;
      margin-left: 1vw;
      margin-right: 0;
      padding-left: 1vw;
      font-size: 3vw;
    }
}

@media (max-width: 768px) {
    .header {
      height: 4%;
    }
  
    .search-symbol {
        display: none;
    }
    
    .header input {
      width: 25vw;
      height: 5vw;
      margin-right: 4vw;
      font-size: 2vw;
    }
  
    .header input:focus {
      font-size: 0.75rem;
    }
}