button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
}

@media (max-width: 480px) {
    button {
        font-size:calc(12px + 0.3vw);

    }
}