.inactive .post {
    list-style-type: none;
    display: flex;
    margin-top: .25rem;
    margin-bottom: .25rem;
    justify-content: start;
    align-items: center;
    height: 8rem;
    border-radius: 3pt;
    width: 100%;
    overflow: hidden;
    background-color: #d9dce4;
    transition-property: background-color;
    transition-duration: .5s;
}

.post:hover {
    cursor: pointer;
}

.post video {
    max-width: 100%; 
    max-height: 90%;
    height: auto;
}

.active .post {
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 35rem;
    width: 100%;
    overflow: hidden;
    background-color: #7da1c4;
}

.active .post .score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7%;
    height: 96.31%;
    padding-top: 1.5rem;
    background-color: #161627;
    border-top-right-radius: 3pt;
    border-bottom-right-radius: 3pt;
}

.active .post .content {
    max-width: 100%;
    max-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.inactive .post .content {
    display: none;
}

.inactive .post:hover {
    background-color: #7da1c4;
    box-shadow: #393863;
}

.inactive .post .score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7%;
    height: 81.1%;
    padding-top: 1.5rem;
    border-top-right-radius: 3pt;
    border-bottom-right-radius: 3pt;
    background-color: #6e6e6ed0;
    color: rgb(0, 0, 0);
    transition: background-color .5s, color .5s;
}

.inactive:hover .post .score {
    background-color: #424b6b;
    color: white;
}

.active .post .score {
    background-color: #424b6b;
    color: white;
}


.inactive .post .score p {
    font-size: 70%;
}

.active .post .score p {
    font-size: 85%;
}

.post .left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
}

.post .left-side img {
    max-height: 80%;
    max-width: 80%;
    border-radius: 4pt;
}

.post .right-side {
    width: 85%;
    height: 100%;
    display: block;
}

.post .right-side .top {
    display: flex;
    width: 100%;
    padding: 0;
    margin-top: .5rem;
    margin-bottom: 0;
    margin-left: -1rem;
}

.post .right-side .top p {
    font-size: .8rem;
    padding: .1rem .5rem .2rem .5rem;
    margin: 0;
}

.post .right-side .top .subreddit {
    font-weight: bold;
}

.post .right-side .top .subreddit:hover {
    font-style: italic;
    text-decoration: underline;
}

.post .right-side .top .author {
    font-style: italic;
    margin-right: .5rem;
}

.post .right-side .bottom {
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.post .right-side .bottom .title {
    width: 92%;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 0;
    margin-top: 0;
    margin-left: 1rem;
}

.inactive .content {
    display: none;
}

.active .content img {
    max-width: 90%;
    max-height: 90%;
    padding-bottom: 0;
    border-radius: 4pt;
}

.active .content .link {
    height: 40%;
    text-align: center;
    margin: 0;
    padding-bottom: 7rem;
}

.active .content .gallery {
    height: 40%;
    text-align: center;
    margin: 0;
    padding-bottom: 7rem;
}

.active .content .text {
    font-size: .9rem;
    height: 90%;
    width: 95%;
   overflow: hidden;
   padding-top: 0;
   margin-top: 0;
}

.inactive .comments-toggle {
    display: none;
}

.active .hidden {
    display: none;
}

.inactive .hidden {
    display: none;
}

.inactive .show {
    display: none;
}

.active .post .comments-toggle {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 31rem;
    margin-right: .25rem;
    border: none;
    height: 10%;
    width: 15%;
    cursor: pointer;
    border-radius: 4pt;
    font-size: .7rem;
    background-color: rgb(185, 185, 185);
}

.active .post .comments-toggle:hover {
    background-color: rgb(138, 138, 138);
}


.active #comments {
    overflow: scroll;
    min-height: auto;
    max-height: 25rem;
}

@media (max-width: 480px) {
    .post .right-side .bottom .title {
        margin-top: 0;
        margin-left: 1vw;
        font-size: 3vw;
    }

    .post .right-side .top .author {
        font-size: 1.6vw;
    }

    .post .right-side .top .subreddit {
        font-size: 2vw;
    }

    .inactive .post {
        height: 20vw;
    }

    .active .post {
        height: 70vw;
    }

    .active .post .comments-toggle {
        position: relative;
        margin-top: 61vw;
        margin-left: 0;
        font-size: 1.5vw;
        height: 6vw;
        width: 6vw;
        font-size: .01vw;
    }

    .inactive .post .score p {
        font-size: 1.5vw;
    }

    .active .post .score p {
        font-size: 1.5vw;
    }
}

