.app {
  background-color: rgba(128, 128, 128, 0.849);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-top: .25rem;
  padding-bottom: .5rem;
  width: 100%;
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.side-bar {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 30%;
  padding: 0;
}

@media (max-width: 480px) {
  .side-bar {
      width: 25%;
  }
}

